Repository tale/headplane: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, check_go

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm format {staged_files}
      stage_fixed: true
    check_go:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true

chore: add audit fix
  package.json
  pnpm-lock.yaml
Due: lint, format

fix(ui): stop split DNS from crashing the page when undefined
  CHANGELOG.md
  app/server/headscale/config-loader.ts
Due: lint, format

fix(ui): show display names in lists
  CHANGELOG.md
  app/routes/users/components/headplane-user-row.tsx
  app/routes/users/components/headscale-user-row.tsx
Due: lint, format

chore(ssh): warn about broken SSH on certain versions
  app/routes/ssh/page.tsx
  compose.yaml
  docs/features/ssh.md
Due: lint, format

Fix url
  app/routes/settings/agent.tsx
Due: lint, format

Fix wasm ssh in nix build
  nix/package.nix
Due: format

fix: treat Go pseudo-versions as unknown server versions
  app/server/headscale/api/server-version.ts
  tests/unit/headscale/server-version.test.ts
Due: lint, format

Add key expiry disable/enable toggle
  app/routes/machines/components/menu.tsx
  app/routes/machines/machine-actions.ts
  app/server/headscale/api/resources/nodes.ts
  tests/integration/api/nodes.test.ts
Due: lint, format

Render key expiry UI according to introduced capability
  app/routes/machines/components/machine-row.tsx
  app/routes/machines/components/menu.tsx
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
Due: lint, format

Add `keyExpiryCanBeDisabled` API capability
  app/server/headscale/api/capabilities.ts
  tests/integration/api/nodes.test.ts
  tests/unit/headscale/server-version.test.ts
Due: lint, format

Fix restty links
  CHANGELOG.md
  docs/features/ssh.md
Due: format

fix: fall back to execCommand when clipboard API is unavailable
  app/components/attribute.tsx
  app/components/code-block.tsx
  app/routes/machines/components/machine-row.tsx
  app/utils/clipboard.ts
Due: lint, format

feat: Introduction of reachability map
  app/routes/acls/acl-loader.ts
  app/routes/acls/components/cm.client.tsx
  app/routes/acls/components/map.client.tsx
  app/routes/acls/overview.tsx
  app/utils/acl/evaluate.ts
  app/utils/acl/locate.ts
  app/utils/acl/model.ts
  app/utils/acl/parse.ts
  app/utils/acl/ports.ts
  app/utils/acl/resolve.ts
  app/utils/acl/to-node.ts
  app/utils/hujson.ts
  package.json
  pnpm-lock.yaml
  tests/unit/utils/acl.test.ts
Due: lint, format

chore: Update nix PnpmDeps hash
  nix/package.nix
Due: format

fix(ui): submit raw number input value for auth key expiry
  CHANGELOG.md
  app/components/number-input.tsx
  app/routes/settings/auth-keys/actions.ts
  tests/unit/settings/auth-keys-action.test.ts
Due: lint, format

Fix restty links across docs pages (#595)
  CHANGELOG.md
  docs/features/ssh.md
Due: format

fix(ui): submit raw number input value for auth key expiry (#609)
  CHANGELOG.md
  app/components/number-input.tsx
  app/routes/settings/auth-keys/actions.ts
  tests/unit/settings/auth-keys-action.test.ts
Due: lint, format

Add key expiry disable/enable toggle (#554)
  app/routes/machines/components/machine-row.tsx
  app/routes/machines/components/menu.tsx
  app/routes/machines/machine-actions.ts
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/server/headscale/api/capabilities.ts
  app/server/headscale/api/resources/nodes.ts
  tests/integration/api/nodes.test.ts
  tests/unit/headscale/server-version.test.ts
Due: lint, format

feat(users): validate usernames before creating or renaming
  app/routes/users/dialogs/create-user.tsx
  app/routes/users/dialogs/rename-user.tsx
  app/routes/users/user-actions.ts
  app/utils/user.ts
  tests/unit/utils/user.test.ts
Due: lint, format

refactor(db): bundle the schema and dialect with the connection
  app/server/context.ts
  app/server/db/client.server.ts
  app/server/hp-agent.ts
  app/server/web/auth.ts
  tests/unit/auth/create-auth.ts
  tests/unit/auth/db-client.test.ts
Due: lint, format

fix(auth): make owner bootstrap atomic and close the database on shutdown
  app/server/context.ts
  app/server/db/client.server.ts
  app/server/web/auth.ts
  tests/unit/auth/auth-service.test.ts
  tests/unit/auth/db-client.test.ts
Due: lint, format

feat(config): add server.database for choosing the database location
  CHANGELOG.md
  app/server/config/config-schema.ts
  app/server/context.ts
  app/server/db/client.server.ts
  config.example.yaml
  docs/.vitepress/config.ts
  docs/configuration/database.md
  nix/options.nix
  tests/unit/config/database.test.ts
Due: lint, format

feat(db): add a SQLite to PostgreSQL copy helper
  CHANGELOG.md
  docs/configuration/database.md
  scripts/db-copy.ts
  tests/integration/db/copy.test.ts
  tests/integration/db/start-postgres.ts
Due: lint, format

feat(db): add PostgreSQL as an alternative storage backend
  CHANGELOG.md
  app/server/config/config-schema.ts
  app/server/db/client.server.ts
  app/server/db/schema.postgres.ts
  config.example.yaml
  docs/configuration/database.md
  drizzle.postgres.config.ts
  drizzle/postgres/20260818062149_condemned_xorn/migration.sql
  drizzle/postgres/20260818062149_condemned_xorn/snapshot.json
  nix/options.nix
  package.json
  pnpm-lock.yaml
  tests/integration/db/contract.test.ts
  tests/integration/db/start-postgres.ts
  tests/unit/config/database.test.ts
  vitest.config.ts
Due: lint, format

docs(changelog): record the owner bootstrap and database handle fixes
  CHANGELOG.md
Due: format

fix(config): stop lowercasing filesystem paths
  CHANGELOG.md
  app/server/config/config-schema.ts
  tests/unit/config/path-casing.test.ts
Due: lint, format

fix(users): narrow username digits to \p{Nd} to match Go's unicode.IsDigit
  app/utils/user.ts
  tests/unit/utils/user.test.ts
Due: lint, format

fix(agent): allow disabling Tailscale netns
  CHANGELOG.md
  app/server/config/config-schema.ts
  app/server/hp-agent.ts
  cmd/hp_agent/hp_agent.go
  config.example.yaml
  docs/NixOS-options.md
  docs/features/agent.md
  internal/config/config.go
  internal/config/config_test.go
  nix/options.nix
  tests/unit/config/config-file.test.ts
Due: lint, format, check_go

docs(agent): clarify tailscale netns routing
  CHANGELOG.md
  config.example.yaml
  docs/NixOS-options.md
  docs/features/agent.md
  nix/options.nix
Due: format

Added config.oidc.jwks_endpoint
  app/server/config/config-schema.ts
  app/server/context.ts
Due: lint, format

fix(agent): allow disabling Tailscale netns (#618)
  CHANGELOG.md
  app/server/config/config-schema.ts
  app/server/hp-agent.ts
  cmd/hp_agent/hp_agent.go
  config.example.yaml
  docs/NixOS-options.md
  docs/features/agent.md
  internal/config/config.go
  internal/config/config_test.go
  nix/options.nix
  tests/unit/config/config-file.test.ts
Due: lint, format, check_go

feat(users): validate usernames before creating or renaming (#610)
  app/routes/users/dialogs/create-user.tsx
  app/routes/users/dialogs/rename-user.tsx
  app/routes/users/user-actions.ts
  app/utils/user.ts
  tests/unit/utils/user.test.ts
Due: lint, format

fix(config): stop lowercasing filesystem paths (#613)
  CHANGELOG.md
  app/server/config/config-schema.ts
  tests/unit/config/path-casing.test.ts
Due: lint, format

feat: clamp docker daemon version and support v1.24
  app/server/config/integration/docker.ts
  docs/install/docker.md
  tests/integration/platform/docker.test.ts
Due: lint, format

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: lint, format

feat(acls): add a structured model for the ACL policy
  app/utils/acl-policy.ts
  app/utils/node-info.ts
  tests/unit/utils/acl-policy.test.ts
Due: lint, format

feat(ui): add a visual editor for ACL rules, tags and groups
  app/routes/acls/acl-loader.ts
  app/routes/acls/components/rules-editor.tsx
  app/routes/acls/components/tags-groups-editor.tsx
  app/routes/acls/components/token-list.tsx
  app/routes/acls/dialogs/acl-rule.tsx
  app/routes/acls/dialogs/host.tsx
  app/routes/acls/dialogs/named-list.tsx
  app/routes/acls/dialogs/ssh-rule.tsx
  app/routes/acls/overview.tsx
Due: lint, format

docs: document the access control page
  docs/.vitepress/config.ts
  docs/features/acls.md
Due: lint, format

feat(ui): manage ACL groups from the users page
  app/routes/users/components/headplane-user-row.tsx
  app/routes/users/components/headscale-user-menu.tsx
  app/routes/users/components/headscale-user-row.tsx
  app/routes/users/components/menu.tsx
  app/routes/users/dialogs/user-groups.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
Due: lint, format

feat(ui): flag machine tags that are not declared in the policy
  app/routes/machines/components/machine-row.tsx
  app/routes/machines/components/menu.tsx
  app/routes/machines/dialogs/tags.tsx
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
Due: lint, format
