Repository tale/headplane: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, check_go

lint:
  run: pnpm lint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm format {staged_files}
  stage_fixed: true

check_go:
  run: gofmt -w {staged_files}
  stage_fixed: true

chore: add a resilience test
  tests/unit/headscale/headscale-resilience.test.ts
Due: lint, format

fix: correctly handle user id passthrough on headscale actions
  app/routes/users/components/menu.tsx
  app/routes/users/dialogs/delete-user.tsx
  app/routes/users/dialogs/link-user.tsx
  app/routes/users/dialogs/reassign-user.tsx
  app/routes/users/dialogs/rename-user.tsx
  app/routes/users/dialogs/transfer-ownership.tsx
  app/routes/users/user-actions.ts
  app/server/headscale/api/resources/pre-auth-keys.ts
  app/server/web/auth.ts
  tests/unit/auth/auth-service.test.ts
Due: lint, format

feat: bump headscale minimum to 0.27
  app/routes/acls/acl-action.ts
  app/server/headscale/api/capabilities.ts
  app/server/headscale/api/index.ts
  app/server/headscale/api/server-version.ts
  docs/install/docker.md
  docs/install/limited-mode.md
  docs/install/native-mode.md
  tests/integration/api/versions.test.ts
  tests/integration/setup/env.ts
  tests/unit/headscale/headscale-resilience.test.ts
  tests/unit/headscale/server-version.test.ts
Due: lint, format

chore: changelog
  CHANGELOG.md
Due: format

docs(install): use CMD prefix in Docker healthcheck example
  CHANGELOG.md
  docs/install/docker.md
Due: format

fix(dialog): stop clipping focus rings in scrollable content
  CHANGELOG.md
  app/components/dialog.tsx
Due: lint, format

fix(tooltip): anchor above trigger with collision padding
  CHANGELOG.md
  app/components/tooltip.tsx
Due: lint, format

fix(machines): register node by Headscale username, not numeric id
  CHANGELOG.md
  app/routes/machines/dialogs/new.tsx
Due: lint, format

fix(pre-auth-keys): pass Headscale numeric user id when expiring on 0.27.x
  CHANGELOG.md
  app/routes/settings/auth-keys/actions.ts
Due: lint, format

feat(users): expose rename and delete for unlinked Headscale users
  CHANGELOG.md
  app/routes/users/components/headscale-user-menu.tsx
  app/routes/users/components/headscale-user-row.tsx
  app/routes/users/overview.tsx
Due: lint, format

feat: add support for https
  app/server/app.ts
  app/server/config/config-schema.ts
  app/server/main.ts
  cmd/hp_healthcheck/hp_healthcheck.go
  config.example.yaml
  docs/configuration/index.md
Due: lint, format, check_go

feat: automate health check with a written file
  app/server/main.ts
  cmd/hp_healthcheck/hp_healthcheck.go
  docs/configuration/index.md
  runtime/http.ts
Due: lint, format, check_go

feat: gate the healthcheck listen file to docker only
  Dockerfile
  app/server/main.ts
Due: lint, format

feat: support multiple CAs through documentation
  config.example.yaml
  docs/.vitepress/config.ts
  docs/configuration/index.md
  docs/configuration/tls.md
Due: lint, format

chore: v0.7.0-beta.4
  CHANGELOG.md
  package.json
Due: lint, format

Add `pullfrog.yml` workflow
  .github/workflows/pullfrog.yml
Due: format

chore: add `pullfrog.yml` workflow
  .github/workflows/pullfrog.yml
Due: format

fix: don't require postgres pass when password_file is supplied
  app/server/headscale/config-schema.ts
Due: lint, format

fix: auto read dns.extra_records_path instead of making it required
  app/server/headscale/config-loader.ts
  config.example.yaml
  docs/NixOS-options.md
  docs/install/docker.md
Due: lint, format

fix(oidc): correctly handle client_secret_basic fallback
  app/server/oidc/provider.ts
  tests/unit/oidc/provider.test.ts
Due: lint, format

fix(ui): validate machine names before rename submission
  app/routes/machines/dialogs/rename.tsx
  app/routes/machines/machine-actions.ts
Due: lint, format

fix(ui): increase ssh pre-auth key expiry time and present errors
  app/routes/ssh/page.tsx
Due: lint, format

fix(wasm): account for custom DERP ports when checking the probe
  build.sh
  patches/tailscale-derp-port.patch
Due: format

feat(ui): add support for showing existing tag options
  app/routes/machines/dialogs/tags.tsx
  app/routes/machines/machine-actions.ts
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/utils/node-info.ts
  tests/unit/utils/node-info.test.ts
Due: lint, format

feat: switch logging to pino
  app/entry.server.tsx
  app/server/main.ts
  app/utils/log.ts
  docs/configuration/index.md
  package.json
  pnpm-lock.yaml
  runtime/http.ts
  tests/unit/utils/log.test.ts
Due: lint, format

fix(wasm): make whole vendored tailscale tree writable before patching
  nix/ssh-wasm.nix
Due: format

fix(wasm): make whole vendored tailscale tree writable before patching (#567)
  nix/ssh-wasm.nix
Due: format

feat(auth): support reverse-proxy driven proxy auth
  CHANGELOG.md
  app/layout/app.tsx
  app/routes/home.tsx
  app/routes/machines/overview.tsx
  app/routes/settings/auth-keys/actions.ts
  app/routes/settings/auth-keys/dialogs/add-auth-key.tsx
  app/routes/settings/auth-keys/overview.tsx
  app/routes/ssh/page.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
  app/server/app.ts
  app/server/config/config-schema.ts
  app/server/context.ts
  app/server/db/schema.ts
  app/server/web/auth.ts
  config.example.yaml
  docs/.vitepress/config.ts
  docs/NixOS-options.md
  docs/configuration/index.md
  docs/features/proxy-auth.md
  docs/features/sso.md
  nix/options.nix
  tests/unit/auth/auth-service.test.ts
  tests/unit/auth/create-auth.ts
Due: lint, format

feat(auth): support deriving roles from the IDP
  CHANGELOG.md
  app/routes/auth/oidc-callback.ts
  app/server/config/config-schema.ts
  app/server/context.ts
  app/server/oidc/provider.ts
  app/server/web/auth.ts
  config.example.yaml
  docs/NixOS-options.md
  docs/features/sso.md
  nix/options.nix
  tests/unit/auth/auth-service.test.ts
  tests/unit/config/config-file.test.ts
  tests/unit/oidc/provider.test.ts
Due: lint, format

feat: update build for react router v8
  app/routes/auth/login/page.tsx
  app/routes/auth/oidc-callback.ts
  app/routes/ssh/page.tsx
  package.json
  pnpm-lock.yaml
  react-router.config.ts
  vite.config.ts
Due: lint, format

feat: update to the v8 middleware api
  app/entry.server.tsx
  app/layout/app.tsx
  app/routes/acls/acl-action.ts
  app/routes/acls/acl-loader.ts
  app/routes/auth/login/action.ts
  app/routes/auth/login/page.tsx
  app/routes/auth/logout.ts
  app/routes/auth/oidc-callback.ts
  app/routes/auth/oidc-start.ts
  app/routes/dns/dns-actions.ts
  app/routes/dns/overview.tsx
  app/routes/home.tsx
  app/routes/machines/machine-actions.ts
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/settings/agent.tsx
  app/routes/settings/auth-keys/actions.ts
  app/routes/settings/auth-keys/overview.tsx
  app/routes/settings/overview.tsx
  app/routes/settings/restrictions/actions.ts
  app/routes/settings/restrictions/overview.tsx
  app/routes/ssh/page.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
  app/routes/util/healthz.ts
  app/routes/util/info.ts
  app/routes/util/live.ts
  app/server/README.md
  app/server/app.ts
  app/server/context.ts
Due: lint, format

chore: update to react router v8
  app/server/app.ts
  package.json
  pnpm-lock.yaml
  react-router.config.ts
  vite.config.ts
Due: lint, format

feat: add support for headscale 0.29+
  app/server/headscale/config-loader.ts
  app/server/headscale/config-schema.ts
  tests/integration/api/versions.test.ts
  tests/integration/platform/proc.test.ts
  tests/integration/setup/config.yaml
  tests/integration/setup/env.ts
  vitest.config.ts
Due: lint, format

feat(config): use minimal headscale config
  app/routes/dns/dns-actions.ts
  app/routes/dns/overview.tsx
  app/routes/home.tsx
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/settings/restrictions/actions.ts
  app/routes/settings/restrictions/overview.tsx
  app/routes/users/overview.tsx
  app/server/headscale/config-loader.ts
  app/server/headscale/config-schema.ts
  tests/unit/headscale/config-loader.test.ts
Due: lint, format

feat(auth): support role sync on re-login
  app/routes/auth/oidc-callback.ts
  app/server/web/auth.ts
  config.example.yaml
  docs/features/sso.md
  tests/unit/auth/auth-service.test.ts
Due: lint, format

feat(config): simplify required headscale config
  app/server/context.ts
  app/server/headscale/config-dns.ts
  app/server/headscale/config-loader.ts
  config.example.yaml
  docs/Nix.md
  docs/NixOS-options.md
  nix/options.nix
  package.json
  pnpm-lock.yaml
  tests/unit/headscale/config-loader.test.ts
Due: lint, format

chore: update dev stuff
  lefthook.yml
  package.json
Due: lint, format

chore(auth): add more informative logs
  app/routes/auth/login/page.tsx
  app/routes/auth/oidc-callback.ts
  app/routes/auth/oidc-start.ts
  app/server/oidc/provider.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *
  check_go: any of: *.go
