Repository tale/headplane: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, check_go

lint:
  run: pnpm lint --fix {staged_files}
  stage_fixed: true

format:
  run: pnpm format {staged_files}
  stage_fixed: true

check_go:
  run: gofmt -w {staged_files}
  stage_fixed: true

fix(ui): address review findings on the ACL editor
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/users/components/headplane-user-row.tsx
  app/routes/users/components/headscale-user-menu.tsx
  app/routes/users/components/headscale-user-row.tsx
  app/routes/users/components/menu.tsx
  app/routes/users/dialogs/user-groups.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
  app/utils/acl-policy.ts
  tests/unit/utils/acl-policy.test.ts
Due: lint, format

feat(ssh): bump restty and follow upstream tailscale ssh
  Dockerfile
  app/routes/ssh/ghostty.client.tsx
  app/routes/ssh/page.tsx
  app/routes/ssh/wasm.client.ts
  app/routes/ssh/wasm_js.d.ts
  build.sh
  cmd/hp_ssh/build-tags.txt
  cmd/hp_ssh/hp_ssh.go
  cmd/hp_ssh/wasm_js.go
  compose.yaml
  flake.nix
  go.mod
  go.sum
  internal/hp_ipn/ipnserver.go
  internal/hp_ipn/jsfunc.go
  internal/hp_ipn/jsmap.go
  internal/hp_ipn/notify.go
  internal/hp_ipn/ssh.go
  mise.toml
  nix/agent.nix
  nix/package.nix
  nix/ssh-wasm.nix
  package.json
  patches/tailscale-derp-port.patch
  patches/tailscale-netcheck-derp-port.patch
  patches/tsconnect-term-type.patch
  patches/tsconnect-types.patch
  pnpm-lock.yaml
  runtime/http.ts
  scripts/sync-tsconnect.sh
  scripts/wasm-tags.go
Due: lint, format, check_go

fix(ui): address maintainer review on the ACL editor
  app/components/token-list.tsx
  app/routes/acls/acl-loader.ts
  app/routes/acls/components/editor-section.tsx
  app/routes/acls/components/rules-editor.tsx
  app/routes/acls/components/tags-groups-editor.tsx
  app/routes/acls/dialogs/acl-rule.tsx
  app/routes/acls/dialogs/named-list.tsx
  app/routes/acls/dialogs/ssh-rule.tsx
  app/routes/acls/overview.tsx
  app/routes/machines/dialogs/tags.tsx
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/users/dialogs/user-groups.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
  app/utils/acl-policy.ts
  app/utils/node-info.ts
  tests/unit/utils/acl-policy.test.ts
  tests/unit/utils/node-info.test.ts
Due: lint, format

chore: add a release automation script
  .github/workflows/release.yaml
  AGENTS.md
  CHANGELOG.md
  package.json
  scripts/release.ts
Due: lint, format

chore: v0.7.1
  CHANGELOG.md
  package.json
Due: lint, format

feat(ui): structured editor for ACL rules, tags and groups (#608)
  app/components/token-list.tsx
  app/routes/acls/acl-loader.ts
  app/routes/acls/components/editor-section.tsx
  app/routes/acls/components/rules-editor.tsx
  app/routes/acls/components/tags-groups-editor.tsx
  app/routes/acls/dialogs/acl-rule.tsx
  app/routes/acls/dialogs/host.tsx
  app/routes/acls/dialogs/named-list.tsx
  app/routes/acls/dialogs/ssh-rule.tsx
  app/routes/acls/overview.tsx
  app/routes/machines/components/machine-row.tsx
  app/routes/machines/components/menu.tsx
  app/routes/machines/dialogs/tags.tsx
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/users/components/headplane-user-row.tsx
  app/routes/users/components/headscale-user-menu.tsx
  app/routes/users/components/headscale-user-row.tsx
  app/routes/users/components/menu.tsx
  app/routes/users/dialogs/user-groups.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
  app/utils/acl-policy.ts
  app/utils/node-info.ts
  docs/.vitepress/config.ts
  docs/features/acls.md
  tests/unit/utils/acl-policy.test.ts
  tests/unit/utils/node-info.test.ts
Due: lint, format

feat(acls): add HuJSON formatting and validation
  CHANGELOG.md
  app/routes/acls/acl-action.ts
  app/routes/acls/components/cm.client.tsx
  app/routes/acls/overview.tsx
  app/utils/acl-policy.ts
  docs/features/acls.md
  package.json
  pnpm-lock.yaml
  tests/unit/acls/acl-action.test.ts
  tests/unit/utils/acl-policy.test.ts
Due: lint, format

fix(acls): keep line layout when formatting and treat an empty policy as neutral
  app/routes/acls/components/cm.client.tsx
  app/utils/acl-policy.ts
  docs/features/acls.md
  tests/unit/utils/acl-policy.test.ts
Due: lint, format

chore: update nix pnpm deps hash
  nix/package.nix
Due: format

Added jwks_endpoint to config.example.yaml, docs, and nix options.
  config.example.yaml
  docs/features/sso.md
  nix/options.nix
Due: format

feat(auth): add verified header JWT authenticator with Google IAP preset
  app/server/web/jwt-auth.ts
  tests/unit/auth/jwt-auth.test.ts
Due: lint, format

feat(auth): wire verified header JWT authentication into the request path
  app/routes/auth/login/jwt-auth-error.tsx
  app/routes/auth/login/page.tsx
  app/routes/auth/logout.ts
  app/server/app.ts
  app/server/config/config-schema.ts
  app/server/context.ts
  app/server/web/auth.ts
  config.example.yaml
  nix/options.nix
  tests/unit/auth/create-auth.ts
  tests/unit/auth/jwt-principal.test.ts
Due: lint, format

docs: add the Google IAP page
  docs/.vitepress/config.ts
  docs/features/google-iap.md
  docs/features/proxy-auth.md
Due: lint, format

test(auth): verify assertions against a real JWKS endpoint
  CHANGELOG.md
  tests/integration/iap/iap.test.ts
  tests/integration/iap/start-jwks.ts
  vitest.config.ts
Due: lint, format

refactor(auth): make jwt_auth fully provider-agnostic
  CHANGELOG.md
  app/routes/auth/login/jwt-auth-error.tsx
  app/server/config/config-schema.ts
  app/server/context.ts
  app/server/web/jwt-auth.ts
  config.example.yaml
  docs/.vitepress/config.ts
  docs/features/google-iap.md
  docs/features/jwt-auth.md
  docs/features/proxy-auth.md
  nix/options.nix
  tests/integration/iap/iap.test.ts
  tests/unit/auth/jwt-auth.test.ts
  tests/unit/auth/jwt-principal.test.ts
Due: lint, format

docs: correct native build prerequisites and command
  CHANGELOG.md
  docs/install/native-mode.md
Due: format

feat: add Debian packages and native lifecycle validation
  .github/workflows/debian.yaml
  .gitignore
  CHANGELOG.md
  docs/install/native-mode.md
  packaging/README.md
  packaging/build-deb.sh
  packaging/collect-licenses.py
  packaging/debian/control
  packaging/debian/headplane.postinst
  packaging/debian/headplane.postrm
  packaging/debian/headplane.prerm
  packaging/debian/headplane.service
  packaging/debian/rules
  packaging/tests/headscale.yaml
  packaging/tests/http-smoke.py
  packaging/tests/lifecycle.sh
  packaging/tests/prepare-system.sh
Due: format

docs: complete custom prefix builds and clarify runtime command
  CHANGELOG.md
  docs/install/native-mode.md
Due: format

fix(auth): require exp, validate the API key at startup, repair the Nix module
  app/server/context.ts
  app/server/web/auth.ts
  app/server/web/jwt-auth.ts
  docs/features/jwt-auth.md
  nix/module.nix
  nix/options.nix
  tests/unit/auth/jwt-auth.test.ts
  tests/unit/auth/jwt-principal.test.ts
  tests/unit/config/jwt-auth.test.ts
Due: lint, format

Correct native build prerequisites and document the complete build (#633)
  CHANGELOG.md
  docs/install/native-mode.md
Due: format

fix(config): Added config.oidc.jwks_endpoint (#620)
  app/server/config/config-schema.ts
  app/server/context.ts
  config.example.yaml
  docs/features/sso.md
  nix/options.nix
Due: lint, format

chore: update go and npm dependencies
  Dockerfile
  flake.nix
  go.mod
  go.sum
  mise.toml
  nix/agent.nix
  nix/ssh-wasm.nix
  package.json
  pnpm-lock.yaml
Due: lint, format

chore: update the changelog to reflect reality
  CHANGELOG.md
Due: format

fix: fall back to copying via execCommand in http
  CHANGELOG.md
  app/components/attribute.tsx
  app/components/code-block.tsx
  app/routes/machines/components/machine-row.tsx
  app/utils/copy.ts
Due: lint, format

fix: replace removed Vitest sequential suite API
  tests/integration/api/nodes.test.ts
  tests/integration/api/pre-auth-keys.test.ts
  tests/integration/api/users.test.ts
Due: lint, format

fix: replace removed Vitest sequential suite API (#639)
  tests/integration/api/nodes.test.ts
  tests/integration/api/pre-auth-keys.test.ts
  tests/integration/api/users.test.ts
Due: lint, format

feat: configure dashboard base path at runtime
  CHANGELOG.md
  app/root.tsx
  app/routes/machines/components/menu.tsx
  app/routes/ssh/ghostty.client.tsx
  app/routes/ssh/page.tsx
  app/routes/ssh/wasm.client.ts
  app/server/app.ts
  app/server/assets.ts
  app/server/config/config-schema.ts
  app/server/context.ts
  app/server/main.ts
  app/server/oidc/provider.ts
  app/server/web/auth.ts
  app/utils/live-data.tsx
  app/utils/oidc-state.ts
  app/utils/prefix.ts
  config.example.yaml
  docs/NixOS-options.md
  docs/configuration/index.md
  docs/features/sso.md
  docs/install/native-mode.md
  nix/options.nix
  react-router.config.ts
  runtime/http.ts
  tests/integration/platform/base-path.test.ts
  tests/unit/config/base-path.test.ts
  tests/unit/oidc/provider.test.ts
  vite.config.ts
Due: lint, format

fix: show Browser SSH reauthentication links
  CHANGELOG.md
  app/routes/ssh/auth-banner.ts
  app/routes/ssh/ghostty.client.tsx
  app/routes/ssh/page.tsx
  app/routes/ssh/wasm_js.d.ts
  cmd/hp_ssh/wasm_js.go
  patches/tsconnect-auth-banner.patch
  patches/tsconnect-types.patch
  scripts/sync-tsconnect.sh
  tests/unit/routes/ssh/auth-banner.test.ts
Due: lint, format, check_go

test: harden runtime dashboard base path support
  .github/workflows/build.yaml
  app/root.tsx
  app/utils/prefix.ts
  docs/CONTRIBUTING.md
  nix/package.nix
  package.json
  pnpm-lock.yaml
  tests/integration/platform/base-path.test.ts
  tests/unit/config/assets.test.ts
  tests/unit/config/prefix.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format: any of: *
  check_go: any of: *.go
