Repository tale/headplane: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, check_go

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: pnpm lint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*"
      run: pnpm format {staged_files}
      stage_fixed: true
    check_go:
      glob: "*.go"
      run: gofmt -w {staged_files}
      stage_fixed: true

feat: add machine filtering functionality with dropdowns for user, tag, status, and route
  app/routes/machines/components/machine-filters.tsx
  app/routes/machines/overview.tsx
Due: lint, format

feat: implement custom hook for machine filter parameters management
  app/routes/machines/components/machine-filters.tsx
  app/routes/machines/hooks/use-machine-filter-params.ts
  app/routes/machines/overview.tsx
Due: lint, format

Update oidc-callback.ts
  app/routes/auth/oidc-callback.ts
Due: lint, format

Add mobile hamburger menu for navigation
  app/layout/header.tsx
Due: lint, format

Revert "Add mobile hamburger menu for navigation"
  app/layout/header.tsx
Due: lint, format

feat: update some components
  app/components/attribute.tsx
  app/components/code.tsx
  app/components/tabs.tsx
  app/components/tags/ExitNode.tsx
  app/components/tags/Expiry.tsx
  app/components/tags/HeadplaneAgent.tsx
  app/components/tags/Subnet.tsx
  app/components/tags/TailscaleSSH.tsx
  app/components/tooltip.tsx
  app/routes/acls/overview.tsx
  app/routes/dns/components/manage-ns.tsx
  app/routes/dns/dialogs/add-ns.tsx
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
Due: lint, format

fix: prefix hp_wasm paths correctly
  Dockerfile
  app/routes/ssh/console.tsx
Due: lint, format

feat: pin codemirror to 6.6.0
  package.json
  pnpm-lock.yaml
Due: lint, format

feat: separate code snippets and code blocks for copyable snippets
  app/components/code-block.tsx
  app/components/code.tsx
  app/routes/home.tsx
  app/routes/machines/dialogs/new.tsx
  app/routes/settings/auth-keys/dialogs/add-auth-key.tsx
Due: lint, format

fix: keep footer below dialogs
  app/layout/footer.tsx
Due: lint, format

feat: ditch react-aria
  app/components/dialog.tsx
  app/components/table-list.tsx
  app/components/tabs.tsx
  app/tailwind.css
  package.json
  pnpm-lock.yaml
Due: lint, format

fix: correctly re-enqueue event stream controller when closed
  app/routes/util/live.ts
Due: lint, format

feat: switch to a generalized api key config
  app/routes/auth/login/config-error.tsx
  app/server/config/config-schema.ts
  app/server/index.ts
  config.example.yaml
Due: lint, format

feat: switch agent to a periodic dump rather than long running process
  app/routes.ts
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/settings/agent.tsx
  app/routes/settings/overview.tsx
  app/routes/ssh/console.tsx
  app/routes/util/live.ts
  app/server/hp-agent.ts
  app/server/index.ts
  cmd/hp_agent/hp_agent.go
  docs/Nix.md
  docs/configuration/index.md
  docs/features/agent.md
  docs/features/sso.md
  internal/config/preflight.go
  internal/tsnet/peers.go
  internal/util/logger.go
Due: lint, format, check_go

fix: update user filtering to use user name instead of user ID
  app/routes/machines/components/machine-filters.tsx
  app/routes/machines/overview.tsx
Due: lint, format

docs: update some option docs
  docs/CONTRIBUTING.md
  docs/NixOS-options.md
  nix/options.nix
Due: format

docs: 0.7.0-beta.1
  CHANGELOG.md
  package.json
Due: lint, format

ci: correctly check if hash changed
  .github/workflows/automated.yaml
Due: format

fix: store profile picture in db to prevent header overload
  app/routes/auth/login/page.tsx
  app/routes/auth/oidc-callback.ts
  app/server/db/schema.ts
  app/server/web/auth.ts
  drizzle/20260330175441_add_user_picture/migration.sql
  drizzle/20260330175441_add_user_picture/snapshot.json
Due: lint, format

fix: don't nuke agent working dir
  app/server/hp-agent.ts
Due: lint, format

fix: change oidc config error notice url
  app/routes/auth/login/config-error.tsx
Due: lint, format

fix: use headscale.api_key where possible
  app/layout/app.tsx
  app/routes/acls/acl-action.ts
  app/routes/acls/acl-loader.ts
  app/routes/auth/oidc-callback.ts
  app/routes/home.tsx
  app/routes/machines/machine-actions.ts
  app/routes/machines/machine.tsx
  app/routes/machines/overview.tsx
  app/routes/settings/auth-keys/actions.ts
  app/routes/settings/auth-keys/overview.tsx
  app/routes/ssh/console.tsx
  app/routes/users/overview.tsx
  app/routes/users/user-actions.ts
  app/routes/util/live.ts
  app/server/db/pruner.ts
  app/server/index.ts
  app/server/web/auth.ts
Due: lint, format

feat: replace openid-client with clean-room oidc system
  app/routes/auth/login/config-error.tsx
  app/routes/auth/login/page.tsx
  app/routes/auth/oidc-callback.ts
  app/routes/auth/oidc-start.ts
  app/routes/settings/overview.tsx
  app/server/index.ts
  app/server/oidc/provider.ts
  app/server/result.ts
  app/server/web/oidc-connector.ts
  package.json
  pnpm-lock.yaml
  tests/integration/oidc/oidc.test.ts
  tests/integration/oidc/start-dex.ts
  tests/unit/oidc/provider.test.ts
  vitest.config.ts
Due: lint, format

docs: document the modular architecture for services
  docs/.vitepress/config.ts
  docs/development/architecture.md
Due: lint, format

chore: update auth-service to not be class based
  app/server/index.ts
  app/server/web/auth.ts
  tests/unit/auth/create-auth.ts
Due: lint, format

chore: deprecated package attributes
  nix/package.nix
Due: format

feat: i guess we're undoing agent work
  app/server/hp-agent.ts
  cmd/hp_agent/hp_agent.go
Due: lint, format, check_go

fix: handle URI components in provider ID
  app/routes/settings/auth-keys/dialogs/add-auth-key.tsx
  app/server/web/headscale-identity.ts
Due: lint, format

fix: correctly expire pre-auth-keys in 0.28.0+
  app/routes/settings/auth-keys/actions.ts
  app/routes/settings/auth-keys/dialogs/expire-auth-key.tsx
  app/server/headscale/api/endpoints/pre-auth-keys.ts
  tests/integration/api/pre-auth-keys.test.ts
Due: lint, format

fix: handle empty ACLs
  app/routes/acls/acl-loader.ts
  app/routes/acls/overview.tsx
Due: lint, format

fix: patch tailscale to support a custom DERP port
  .gitignore
  CHANGELOG.md
  Dockerfile
  build.sh
  docs/.vitepress/config.ts
  docs/features/ssh.md
  nix/ssh-wasm.nix
  patches/tailscale-derp-port.patch
Due: lint, format

fix: handle the tag owner username
  app/utils/user.ts
Due: lint, format

fix: make the ssh button look nicer
  app/routes/machines/components/menu.tsx
Due: lint, format

fix: correct patch path in nix/ssh-wasm.nix
  nix/ssh-wasm.nix
Due: format

feat: rebuild browser ssh from the ground up
  CHANGELOG.md
  app/layout/app.tsx
  app/routes.ts
  app/routes/machines/components/machine-row.tsx
  app/routes/machines/components/menu.tsx
  app/routes/ssh/console.tsx
  app/routes/ssh/errors.tsx
  app/routes/ssh/ghostty.client.tsx
  app/routes/ssh/hp_ssh.d.ts
  app/routes/ssh/page.tsx
  app/routes/ssh/user-prompt.tsx
  app/routes/ssh/wasm.client.ts
  app/routes/ssh/wasm_exec.d.ts
  app/routes/ssh/xterm.client.tsx
  app/routes/users/components/headplane-user-row.tsx
  app/server/db/pruner.ts
  app/server/db/schema.ts
  app/server/hp-agent.ts
  cmd/hp_ssh/hp_ssh.go
  docs/.vitepress/config.ts
  docs/assets/ssh-btop.png
  docs/assets/ssh-fastfetch.png
  docs/assets/ssh.png
  docs/features/ssh.md
  drizzle/20260408181638_parallel_synch/migration.sql
  drizzle/20260408181638_parallel_synch/snapshot.json
  internal/hp_ipn/ipnserver.go
  internal/hp_ipn/jsfunc.go
  internal/hp_ipn/jsmap.go
  internal/hp_ipn/notify.go
  internal/hp_ipn/ssh.go
  nix/ssh-wasm.nix
  package.json
  pnpm-lock.yaml
  public/fonts/JetBrainsMonoNLNerdFontMono-Bold.ttf
  public/fonts/JetBrainsMonoNLNerdFontMono-BoldItalic.ttf
  public/fonts/JetBrainsMonoNLNerdFontMono-Italic.ttf
  public/fonts/JetBrainsMonoNLNerdFontMono-Regular.ttf
  public/fonts/SymbolsNerdFontMono-Regular.ttf
Due: lint, format, check_go

chore: remove faker-js dependency
  app/routes/ssh/page.tsx
  package.json
  pnpm-lock.yaml
Due: lint, format

fix: correct patch permissions for nix
  nix/ssh-wasm.nix
Due: format

docs: get rid of deleted png
  docs/features/agent.md
Due: format

chore: v0.7.0-beta.2
  package.json
Due: lint, format
